@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* normalizamos*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;


}


/* estructura de la web*/

.titulo {
    margin: 20px;
    border: 1px solid;

}

/* descripción de la tabla*/
.descrip {
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
}

.table {
    margin-left: 20px;
    border: 1px solid;
    border-radius: 8px;
    width: 1150px;


}

.celda {
    padding: 1px;
    border: 1px solid;

}

/* titulos tabla*/

.cabetab {
    font-size: large;
    font-weight: bold;

}


form {

    flex-direction: row;
    margin: 20px;
    width: 1150px;
    padding: 1px;
    border: 1px solid;
    border-radius: 8px;
    font-size: 13px;

}


input[type="text"],
textarea {

    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 13px;
}


input[type="date"],
textarea {

    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 13px;
}

#alumnoInfoForm {
    flex-direction: row;
    margin: 20px;
    width: 720px;
    padding: 10px;
    border: 1px solid;

}

.paginacion {
    flex-direction: row;
    margin: 20px;
    width: 1150px;
    padding: 1px;


}

.boton {


    background-color: cadetblue;
    padding: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}


.botonvolver {


    background-color: cadetblue;
    padding: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.botonbuscar {

    background-color: rgb(32, 11, 219);
    padding: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 40px 2px 40px;
    cursor: pointer;
    border-radius: 8px;
}

.botonlimpiar {


    background-color: rgb(219, 105, 11);
    padding: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.botoneditar {


    background-color: rgb(219, 105, 11);
    padding: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.botonborrar {


    background-color: rgb(219, 11, 11);
    padding: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.botonmas {


    background-color: cadetblue;
    padding: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.botonflecha {


    background-color: rgb(30, 7, 235);
    padding: 2px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px;
    cursor: pointer;
    border-radius: 8px;
}

.divbotonera {
    flex-direction: row;
    margin: 10px;
    align-items: flex-end;
    width: 700px;
    margin: 20px;
    width: 720px;
    padding: 10px;


}