@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* normalizamos*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;


}


/* estructura de la web*/


.table {
    margin: 20px;
    border: 1px solid;

}

.celda {
    padding: 1px;
    border: 1px solid;

}