@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* normalizamos*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;


}


/* estructura de la web*/

.titulo {
    margin: 20px;
    border: 1px solid;

}

/* descripción de la tabla*/
.descrip {
    margin-top: 20px;
    margin-left: 20px;
    text-align:left;
}

.table {
    margin-left: 20px;
    border: 1px solid;

}

.celda {
    padding: 1px;
    border: 1px solid;

}

/* titulos tabla*/

.cabetab {
    font-size: large;
    font-weight: bold;

}


.form {
    flex-direction: row;
    margin: 20px;
    width: 1000px;
    padding: 1px;
    border: 1px solid;

}